# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore zipped datasets
*.zip

# Ignore dataset folders
TreeCrown_256/

# Ignore DataProcess folders
DataProcess/


# Ignore Weights & Biases experiment logs
wandb/

# Ignore PyCharm project settings
.idea/
*.iml

# Ignore Saved Images
*.PNG

# Allow specific files in plots/
!plots/
plots/*.py
!plots/ModelExam.py
!plots/*.png